.score__end {
  margin-top: 180px;
  text-align: center;
  font-size: 100px;
}

.title__end {
  margin-top: 200px;
  text-align: center;
  color: rgba(144, 42, 102, 1);
  font-size: 200px;
}

.score__data--end {
  animation: none;
  font-size: 100px;
}